// COLORS PRIMARY

$bright-red: hsl(12, 88%, 59%);
$bright-red-hover: hsl(12, 80%, 72%);
$dark-blue: hsl(228, 39%, 23%);


// COLORS NEUTRAL

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);


// TYPOGRAPHY

$font-size-default: 100%;
$font-color-default: $dark-grayish-blue;
$line-height-mobile: 2.2rem;


// MARGIN

$margin-default: 15vw;
$margin-default-1000px: 4vw;
$margin-default-800px: 2vw;

// MIXIN

@mixin btn-red {
    color: $very-light-gray;
    background-color: $bright-red;
    padding: .8rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem $bright-red-hover;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $bright-red-hover;
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(0.98);
        box-shadow: 0 .3rem .8rem $bright-red-hover;
    }
}

@mixin btn-without-shadow ($font-color, $bg-color, $hover-bg-color, $margin-left) {
    height: 3rem;
    color: $font-color;
    font-weight: 700;
    background-color: $bg-color;
    padding: .8rem 2rem;
    margin-left: $margin-left;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;

    &:hover {
        background-color: $hover-bg-color;
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(0.98);
    }
}

@mixin h2 ($font-color) {
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $font-color;
}