.header {
    display: flex;
    align-items: center;
    margin: 0 $margin-default;

    &__content {
        flex-basis: 50%;

        &--h1 {
            font-size: 3.5rem;
            line-height: 3.5rem;
            color: $very-dark-blue;
        }

        &--text {
            margin: 3rem 0;
            padding-right: 32%;
        }

        &--btn {
            @include btn-red;
        }
    }

    &__img {
        transform: translateX(2rem);

    }
}