*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Be Vietnam', sans-serif;
    font-size: $font-size-default;
    font-weight: 400;
    color: $font-color-default;
    padding-top: 3rem;

    background-image: url("/images/bg-tablet-pattern.svg"), url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 52vw -36vh, -30vw 130vh;

    @media only screen and (max-width: 1000px) {
        background-position: 32vw -36vh, -50vw 110vh;
    }

    @media only screen and (max-width: 800px) {
        background-position: 22vw -36vh, -70vw 100vh;
    }

    @media only screen and (max-width: 600px) {
        padding-top: 1rem;
    }
}

body {
    box-sizing: border-box;
}