.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 0 $margin-default 4rem $margin-default;

    @media only screen and (max-width: 1000px) {
        margin: 0 $margin-default-1000px 4rem $margin-default-1000px;
    }

    @media only screen and (max-width: 800px) {
        margin: 0 $margin-default-800px 4rem $margin-default-800px;
    }

    @media only screen and (max-width: 600px) {
        margin: 0 6vw 4rem 6vw;
    }

    @media only screen and (max-width: 420px) {
        justify-content: space-around;
    }

    &__logo {
        width: 10rem;
        margin-top: .8rem;
        cursor: pointer;

        @media only screen and (max-width: 700px) {
            width: 8rem;
        }

        @media only screen and (max-width: 600px) {
            width: 10rem;
        }
    }

    &__menu {
        list-style-type: none;
        font-size: .9rem;
        color: $very-dark-blue;

        @media only screen and (max-width: 600px) {
            display: none;
        }

        &:target,
        &:target ~ .navbar__close {
            display: block;
        }

        &:target {
            height: fit-content;
            width: 90%;
            position: fixed;
            top: 5rem;
            left: 5%;
            margin: auto;
            padding: 10%;
            
            background-color: hsl(0, 0%, 100%);
            border-radius: .3rem;
            border: none;
        
            font-size: 1.4rem;
            color: $very-dark-blue;
            line-height: 3.5rem;
            font-weight: 700;
            z-index: 99;

            animation: appear .1s ease-out;
        }

        @keyframes appear {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
        
        &:target > li {
            display: table;
            margin: auto;
        }
        
        &:target + a {
            display: none;
        }

        &--item {
            display: inline;
            margin: 0 .5rem;
            cursor: pointer;

            @media only screen and (max-width: 710px) {
                margin: 0 .2rem;
            }

            &:hover {
                color: $dark-grayish-blue;
            }
        }
    }

    &__btn {
        @include btn-red;

        @media only screen and (max-width: 700px) {
            padding: .8rem .8rem;
            min-width: fit-content;
        }

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    &__hamburger {
        display: none;

        @media only screen and (max-width: 600px) {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__close {
        display: none;
        margin-right: .15rem;
        z-index: 200;
    }
}