.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem $margin-default 8rem $margin-default;
    overflow-x: hidden;

    @media only screen and (max-width: 1000px) {
        margin: 4rem $margin-default-1000px 8rem $margin-default-1000px;
    }

    @media only screen and (max-width: 800px) {
        margin: 4rem $margin-default-800px 4rem $margin-default-800px;
    }

    &__h2 {
        @include h2 ($very-dark-blue);

        @media only screen and (max-width: 600px) {
            margin-bottom: 2rem;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__testimonial {
        flex-basis: 70%;
        height: 22rem;
        text-align: center;
        
        &--background {
            background-color: $very-light-gray;
            padding: 2rem 6rem 3rem 6rem;

            @media only screen and (max-width: 800px) {
                padding: 2rem 4rem 3rem 4rem;
            }

            @media only screen and (max-width: 600px) {
                padding: 2rem 2rem 3rem 2rem;
            }

            @media only screen and (max-width: 400px) {
                padding: 2rem 1rem 3rem 1rem;
            }
        }

        &--pic {
            width: 12%;
            transform: translateY(3rem);

            @media only screen and (max-width: 800px) {
                width: 18%;
            }

            @media only screen and (max-width: 600px) {
                width: 22%;
                transform: translateY(3rem);
            }
        }

        &--h3 {
            color: $very-dark-blue;
            margin: 2rem 0 1rem 0;
        }

        &--paragraph {
            margin: 2rem 0;
            font-weight: 500;
        }
    }

    &__arrows {
        height: 0;

        &--prev,
        &--next {
            position: relative;
            top: -9.5rem;
            left: -450%;
            width: auto;
            padding: .5rem;
            color: $bright-red;
            font-weight: bold;
            font-size: 2rem;
            /* transition: 0.2s ease; */
            user-select: none;
            cursor: pointer;

            @media only screen and (max-width: 800px) {
                left: -400%;
            }

            @media only screen and (max-width: 700px) {
                left: -350%;
            }

            @media only screen and (max-width: 600px) {
                left: -300%;
            }

            @media only screen and (max-width: 500px) {
                left: -250%;
            }

            @media only screen and (max-width: 420px) {
                left: -200%;
            }

            @media only screen and (max-width: 360px) {
                left: -150%;
            }
        }

        &--prev {
            border-radius: 1rem 0 0 1rem;
        }
        
        &--next {
            left: 450%;
            border-radius: 0 1rem 1rem 0;

            @media only screen and (max-width: 800px) {
                left: 400%;
            }

            @media only screen and (max-width: 700px) {
                left: 350%;
            }

            @media only screen and (max-width: 600px) {
                left: 300%;
            }

            @media only screen and (max-width: 500px) {
                left: 250%;
            }

            @media only screen and (max-width: 420px) {
                left: 200%;
            }

            @media only screen and (max-width: 360px) {
                left: 150%;
            }
        }
        
        &--prev:hover,
        &--next:hover {
            background-color: $very-pale-red;
        }
    }

    &__dots {
        
        &--dot {
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin: 0 .3rem;
            transform: translateY(-3.5rem);
            background-color: $bright-red-hover;
            border-radius: 50%;
            cursor: pointer;
            /* transition: background-color 0.2s ease; */

            @media only screen and (max-width: 800px) {
                transform: translateY(-1.5rem);
            }

            @media only screen and (max-width: 450px) {
                transform: translateY(0);
            }

            @media only screen and (max-width: 300px) {
                transform: translateY(1.5rem);
            }

            &:hover,
            &-active {
                background-color: $bright-red;
            }
        }
    }
      
    &__btn {
        @include btn-red;
        margin: 2rem 0;

        @media only screen and (max-width: 600px) {
            padding: 1rem 3rem;
            z-index: 300;
        }
    }
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.2s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(400px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}